<ion-content>
  <app-header> </app-header>
  <ion-grid class="ion-padding-top">
    <ion-row class="ion-text-center">
      <ion-col size="6">
        <div class="option-container border-all" routerLink="../booking">
          <ion-icon
            src="/assets/logo-booking.svg"
            class="font--50"
          ></ion-icon>
          <div>
            <ion-label class="text-primary">RESERVAS</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="option-container border-all">
            <ion-icon
            src="/assets/logo-auth.svg"
            class="font--50"
          ></ion-icon>
          <div>
            <ion-label class="text-primary">AUTORIZADOS</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="option-container border-all">
            <ion-icon
            src="/assets/logo-solici.svg"
            class="font--50"
          ></ion-icon>
          <div>
            <ion-label class="text-primary">SOLICITUDES</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="option-container border-all">
            <ion-icon
            src="/assets/logo-comu.svg"
            class="font--50"
          ></ion-icon>
          <div>
            <ion-label class="text-primary">COMUNICADOS</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="bottom-content white-bg padding">
    <ion-row>
      <ion-col size="12" class="ion-text-center ">
        <span class="text-primary font--28">COMUNICADOS</span>
      </ion-col>

      <ion-col size="12" class="white-bg border-item border-all margin">
        <ion-item class="white-bg border-all"  lines="none">
            <ion-icon
              src="/assets/arrow-circle.svg"
              class="margin-right font--28"
            ></ion-icon>
          <ion-label>
            <h2>Marielos Rojas</h2>
            <p>Personal de limpieza</p>
          </ion-label>
          <ion-label>
              <p class="ion-text-end">5-123-252</p>
              <p class="ion-text-end">Martes y jueves</p>
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="white-bg border-item border-all margin">
        <ion-item class="white-bg border-all" lines="none">
            <ion-icon
              src="/assets/arrow-circle.svg"
              class="margin-right font--28"
            ></ion-icon>
          <ion-label>
            <h2>Marielos Rojas</h2>
            <p>Personal de limpieza</p>
          </ion-label>
          <ion-label>
            <p class="ion-text-end">5-123-252</p>
            <p class="ion-text-end">Martes y jueves</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer disabledHome="true"></app-footer>
